<div class="my-fluid-container">  
  <div class="col-xs-2"><br>
  </div>
  <div class="col-xs-8">
    <div class="main-info-container">
    <%= bootstrap_form_for(@patron) do |f| %>

      <div><%= f.collection_select :beer_id, @beer, :id, :name, {:include_blank => ""}, {:id => "beer_choice_one" } %></div>

      <div class="beer-select-two"><%= f.collection_select :beer_id_two, @beer, :id, :name, {:include_blank => ""}, {:id => "beer_choice_two" } %></div>
      <div class="beer-select-three"><%= f.collection_select :beer_id_three, @beer, :id, :name, {:include_blank => ""}, {:id => "beer_choice_three"} %></div>
      <div><%= f.text_field :first_name %></div>
      <div><%= f.text_field :last_name %></div>
      <label><input type="checkbox" name="colorCheckbox" value="phone">Text updates</label>  
      <div class="phone hidden-phone-field"><%= f.text_field :phone %></div>
      <label><input type="checkbox" name="colorCheckbox" value="email">Email updates</label>
      <div class="email hidden-email-field"><%= f.text_field :email %></div><br />
      <%= f.hidden_field :user_id, :value => current_user.id %><br />
      <% if @patron.first_name %>
          <div><%= f.submit "Update Patron", class: "btn btn-large btn-primary" %></div>
         <% else %>
      <div><%= f.submit "Create Patron", class: "btn btn-large btn-primary" %></div>
      <% end %>
    <% end %>
  </div>
  </div>
  <div class="col-xs-2"><br>
  </div>
</div>

