
<div class="main-info-container">
	<div><%= bootstrap_form_for(@notification) do |f| %>
		<%= f.collection_select :beer_id, @beer, :id, :name, {:include_blank => ""}, {:selected => 0} %>
		<%= f.text_area :message_content %>

		<%= f.hidden_field :user_id, :value => current_user.id %>
		<br />
		<br />
		<%= f.submit "Create Notification", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>