<div class="row">
  <div class="span offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label :bar_name %>
      <%= f.text_field :bar_name  %>

      <%= f.label :username %>
      <%= f.text_field :username  %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>