<h4><%= @user.bar_name %></h4>
<h4><%= @user.username %></h4>

<h5><%= @user.phone %></h5>
<h5><%= @user.address %></h5>

<h5><% @patrons.each do |p| %>
			<div class="patron-list">
				<%= p.first_name %>
				<%= p.last_name %>
				<%= p.text_updates %>
				<%= p.email_updates %>
				<%= p.phone %>
				<%= p.email %>
			</div>
		<% end %>