<div class="col-xs-12">
	<div class="iconbox-beer"></div>

	<div class="wide-buttons">
		<%= link_to 'current_user/patrons/new' do %>
		<div class="custom-button">
			<div class="icon-patron-new"></div class="button-text">Create Patron</div>
		<% end %>
	</div>
	<br />
	<div class="wide-buttons">
		<%= link_to 'current_user/notifications/new' do %>
		<div class="custom-button">
			<div class="icon-notification"></div class="button-text">Create Notification</div>
		<% end %>
	<div class="wide-buttons-space-break">
		<div class="wide-buttons">
			<%= link_to 'current_user/patron_list' do %>
		<div class="custom-button">
			<div class="icon-patron"></div class="button-text">Find/Edit Patron</div>
		<% end %>
		<br />
		<div class="wide-buttons">
			<%= link_to 'current_user/beer_list' do %>
		<div class="custom-button">
			<div class="icon-beer"></div class="button-text">Add/Edit Beer</div>
		<% end %>
		<br />
		<div class="wide-buttons">
			<%= link_to 'current_user/notification_list' do %>
		<div class="custom-button">
			<div class="icon-past-notification"></div class="button-text">Past Notifications</div>
		<% end %>		
		<br />
		</div>
	</div>
</div>