<div class="my-fluid-container">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		<%= bootstrap_form_for(@beer) do |f| %>
		<div><%= f.text_field :name %></div>
		<div><%= f.text_field :brewery %></div>
		<div><%= f.text_field :style %></div>
		<div><%= f.text_area :comments %></div>
		<div><%= f.text_field :brewery_location %></div>
				 <%= f.hidden_field :user_id, :value => current_user.id %><br />
				 <% if @beer.name %>
						<div><%= f.submit "Update Beer", class: "btn btn-large btn-primary" %></div>
				 <% else %>
						<div><%= f.submit "Create Beer", class: "btn btn-large btn-primary" %></div>
						<% end %>
		<% end %>
	</div>
</div>
