<div class="fluid-container">
  <h1 id="header-title"><a href="#"></a>ALE MAIL</h1>
  <div class="navbar box-shadowed">
    <div class="navbar-inner">
      <% if signed_in? %>
        <%= link_to image_tag('/assets/home.svg', :class => "home-img"), user_path(current_user) %>
      <div class="setting">
        <div class="nav nav pull-right settings-img">
            <div class= "dropdown-toggle" data-toggle="dropdown"><%= image_tag('/assets/wrench.svg', :class => "settings-img") %>
            </div>
         
              <ul class="dropdown-menu">              
                <li><%= link_to "Profile Settings", edit_user_path(current_user) %></li>           
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </div>
      <% else %>
            <%= link_to "Sign in", signin_path %>
            <%= link_to "Sign up", new_user_path %>
      <% end %>
        </div>
    </div>
  </div>
</div>


